@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ff-general: "Lato", sans-serif;

	/* Main site color scheme */
	--background-400: 26, 33, 37;
	--background-500: 34, 42, 45;
	--background-600: 45, 50, 55;

	--foreground-400: 185, 193, 195;
	--foreground-600: 225, 234, 238;

	--contrast-200: 47, 68, 62;
	--contrast-400: 86, 159, 128;
	--contrast-700: 32, 245, 143;

	/* Used for shadcn-svelte components */
	--background: var(--background-500);
	--foreground: var(--foreground-600);

	--border: var(--background-500);
	--input: var(--background-500);

	--accent: var(--background-600);
	--accent-foreground: var(--foreground-600);

	--popover: var(--background-500);
	--radius: 0.5rem;

	background-color: rgb(var(--background-400));
	color: rgb(var(--foreground-600));
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	transition: all 0.125s linear;
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: var(--ff-general);
}

footer {
	margin-block-start: auto;
	margin-block-end: 1.5rem;
}
