@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 34, 42, 45;
		--foreground: 225, 234, 238;

		--border: 34, 42, 45;
		--input: 34, 42, 45;

		--accent: 45, 50, 55;
		--accent-foreground: var(--foreground);

		--popover: 34, 42, 45;
	}
}

:root {
	--ff-general: "Lato", sans-serif;

	--background-400: 26, 33, 37;
	--background-500: 34, 42, 45;
	--background-600: 45, 50, 55;

	--foreground-600: 225, 234, 238;

	--constrast-400: 57, 78, 72;
	--contrast-700: 32, 245, 113;

	color-scheme: light dark;
	background-color: rgb(var(--background-400));
	color: rgb(var(--foreground-600));
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	transition: all 0.125s linear;
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: var(--ff-general);
}

footer {
	margin-block-start: auto;
	margin-block-end: 1.5rem;
}
